{# Create a category query with the 'group' parameter #}
{% set myCategoryQuery = craft.categories().group('boxesCategories') %}

{# Fetch the categories #}
{% set categories = myCategoryQuery.all() %}

{# Display the navigation #}
<div class="container categories">
  <ul class="categ-list">
      <li>
        <a href="/">All</a>
      </li>
    {% nav category in categories %}
      <li>
        <a href="{{ category.url }}">{{ category.title }}</a>
      </li>
    {% endnav %}
  </ul>
</div>