{% extends "layout/layout" %}
{% block main %}

		{% set boxes = 	craft.entries.section('boxes').all() %}

		<ul style="list-style: none;">
			{% for box in boxes %}
				<li> {{ box.title }} </li>
			{% endfor %}
		</ul>

{% endblock %}
