<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Bonfire Studios Challenge</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="">
	</head>
	<body>
		
		{% set home = craft.entries().section('home').all() %}
        {% for item in home %}
		
			<div style="background-image:url({{ item.heroImage.one().url() }});">
				{% include 'navigation/nagivation.twig' %}
				<h1>{{ item.headerTitle }}</h1>
				<p>{{ item.headerSubtitle }}</p>
				{% include 'category/categories.twig' %}	
			</div>
        {% endfor %}
		

		{% block main %}
			{# Overriding this with the extendee's templates content with the same block name #}
		{% endblock %}

	</body>
</html>
