<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Bonfire Studios Challenge</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/styles.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;500&display=swap" rel="stylesheet">	
		
		</head>



	<body class"body">
		
		{% set home = craft.entries().section('home').all() %}
        {% for item in home %}
		
			<div class="header" style="background-image:url({{ item.heroImage.one().url() }});">
			
					<div class="container top">
						<div class="navbar">
							<h1 class="logo">LOGO<span class="accent">DESIGN</span></h1>
							<div class="nav">
								{% include 'navigation/nagivation.twig' %}
							</div>
						</div>

						<div class="titles">
							<h1>{{ item.headerTitle }}</h1>
							<p>{{ item.headerSubtitle }}</p>
						</div>

						{% include 'category/categories.twig' %}	
					</div>

				<div class="overlay"></div>
			</div>
        {% endfor %}
		

		{% block main %}
			{# Overriding this with the extendee's templates content #}
		{% endblock %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
		<script src="/scripts/slider.js"></script>
		<script src="/scripts/category.js"></script>
		<script src="/scripts/animation.js"></script>
	</body>
</html>
